@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic|Open+Sans:300,400,500,700|Waiting+for+the+Sunrise|Shadows+Into+Light' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
<div class="wrapper clearfix">
    <div class="left" style="position:sticky; top:10%">

        <div class="name-hero" style="margin-top:30%">
            <div class="container d-flex justify-content-center">
                <div class="card p-3 py-4" >
                    <div class="text-center">
                        
                        <img src="img/myFoto.jpg" width="120" class="rounded-circle">
                        <h3 class="mt-2">Evgeniy Dribnokhod</h3>
                        <span class="mt-1 clearfix">.Net Developer</span>

                        <hr class="line">

                        <small class="mt-4">
                            I am a .Net developer, student at the Higher School of Economics at the Faculty of Computer
                            Sciences from the direction of software engineering<br /> Live in the Moscow <br />
                            &#128383; +7-915-578-29-28
                            <br />
                            &#9993; eadribnokhod@edu.hse.ru
                        </small>
                        <div class="social mt-3 mb-3" style="margin-left:15%">
                            <div class="github">
                                <a href="https://github.com/zemlianin" target="_blank"><i class="fa-brands fa-github fa-2x" ></i></a>
                            </div>
                            <div class="vk">
                                <a href="https://vk.com/ser_zemlianin" target="_blank"><i class="fa-brands fa-vk fa-2x"></i></a>
                            </div>
                            <div class="telegram">
                                <a href="https://t.me/ser_zemlianin" target="_blank"><i class="fa fa-paper-plane fa-2x" ></i></a>
                            </div>

                        </div>

                        <div class="profile mt-5">

                            <button class="profile_button px-5">View profile</button>

                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="right" style="float:right; margin-top:-5%">

        <div class="inner">
            <section>
                <hr class="line">
                <h1>Education</h1>
                <hr class="line">
                <p>Winter 2015 - Present <em>Grand Interactive, llc. | Mobile App Developer</em></p>
                <p>
                    Raised $78,000 in early stage funding, created initial design
                    concepts, and oversaw initial development. Currently oversee and maintain all front end code and server functionality.
                </p>
                <p>Spring 2012 - Winter 2015 | <em>PadMatcher Inc. | CTO, Co-Founder</em></p>
                <p>
                    Raised $78,000 in early stage funding, created initial design
                    concepts, and oversaw initial development. Oversaw and maintained all front end code and server functionality.
                </p>
                <p>Fall 2011 - Fall 2013 | <em>Penrose Realty llc. | Desinger & Assistant</em></p>
                <p>Responsible for all technical areas. Maintain servers, computers, and provide in office technical support. Rebranded company from ground up including a fully responsive website.  </p>
            </section>
            <section>
                <h1>Technical Skills</h1>
                <ul class="skill-set">
                    <li>Mobile Development</li>
                    <li>Xamarin</li>
                    <li>CSS3</li>
                    <li>Adobe Photoshop</li>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>JQUERY</li>
                    <li>UI Design</li>
                    <li>Company Branding</li>
                    <li>Responsive Web Design</li>
                </ul>
            </section>
            <section>
                <h1>References</h1>
                <p>William Grand | <em>Grand Interactive, llc. | CEO</em></p>
                <p>(617) 448-0910 | wgrand@grandinteractive.com</p>
                <p>Eric Chauvin | <em>PadMatcher Inc. | CEO</em></p>
                <p>(617) 448-0910 | eric@padmatcher.com</p>
                <p>Chris Heller <em>Penrose Realty LLC. | Broker</em></p>
                <p>(617) 794-4554 | chris@penroserealty.com</p>
            </section>
            <section>
                <h1>Personal Interests</h1>
                <ul class="skill-set">
                    <li>Faith</li>
                    <li>Biblical Studies</li>
                    <li>Playing Guitar</li>
                    <li>Song Writing</li>
                    <li>Health & Nutrition</li>
                    <li>Reading</li>
                </ul>
            </section>
            <section>
                <div class="handmade">
                    <p>handmade by <em> Anthony Adamski</em></p>
                </div>
            </section>
        </div>

    </div>



</div>
    