@page
@model IndexModel
@{
    ViewData["Title"] = "Dribnokhod Evgeniy";
}


<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic|Open+Sans:300,400,500,700|Waiting+for+the+Sunrise|Shadows+Into+Light' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
<div class="wrapper clearfix row">
    <div class="left col-sm-4" style="position:relative; top:0%; ">

        <div class="name-hero" >
            <div class="container d-flex justify-content-center">
                <div class="card p-3 py-4">
                    <div class="text-center">

                        <img src="img/myFoto3.jpg" width="150" class="rounded-circle">
                        <h3 class="mt-2">Evgeniy Dribnokhod</h3>
                        <span class="mt-1 clearfix">.NET Developer</span>

                        <hr class="line" style="color:#000">

                        <small class="mt-4" style="color: #28282c">
                            I am a .NET developer, student at the Higher School of Economics at the Faculty of Computer
                            Sciences from the direction of software engineering<br /> Live in the Moscow <br />
                            &#128383; +7-915-578-29-28
                            <br />
                            &#9993; eadribnokhod@edu.hse.ru
                        </small>
                        <div class="social mt-3 mb-3">

                            <div class="telegram" style="margin-left:21%">
                                <a href="https://t.me/ser_zemlianin" target="_blank"><i class="fa fa-paper-plane fa-xl"></i></a>
                            </div>
                            <div class="github">
                                <a href="https://github.com/zemlianin" target="_blank"><i class="fa-brands fa-github fa-xl"></i></a>
                            </div>
                            <div class="whatsapp">
                                <a href="https://api.whatsapp.com/send/?phone=79155782928" target="_blank"><i class="fa-brands fa-whatsapp fa-xl"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="right col-sm-8" style="float:right; margin-top:-5%;">
        <div class="vert-line"></div>
        <div class="inner">
            <div style="margin-top: 13%">
                <h1>Education</h1>
                <hr class="line">
                <p>
                    <em>University</em>&nbsp | &nbspHigher School of Economics<br />
                    <em>Faculty</em>&nbsp | &nbspComputer Sciences<br />
                    <em>Program</em>&nbsp | &nbspSoftware engineering<br />
                    <em>Year of graduation</em>&nbsp | &nbsp2025<br />
                </p>
            </div>
            <div style="margin-top: 6%">
                <h1>Personal qualities</h1>
                <hr class="line">
                <ul class="skill-set">
                    <li>Communication</li>
                    <li>Time management</li>
                    <li>Initiative</li>
                    <li>Willingness to learn</li>
                </ul>
            </div>
            <div style="margin-top: 6%">
                <h1>Knowledge of foreign languages</h1>
                <hr class="line">
                <p>
                    <em>English</em>&nbsp |&nbsp Intermediate B1-B2
                </p>
            </div>


            <div style="margin-top: 10%; margin-left: -60%">
                <div style="margin-top: 8%">
                    <h1>Experience</h1>
                    <hr class="line">
                    <p>
                        Completion of the “Excellent” courses “Development in c#” and “Development in c++” within the framework
                        of studying at the Faculty of Computer
                        Science of the Higher School of Economics. Development of seven educational projects,
                        and four personal extracurricular projects. Participation in hackathons such as "Moscow HSE hack" or "Polus Hack "

                    </p>
                </div>
                <div style="margin-top: 4%;">
                    <h1>Technical Skills</h1>
                    <hr class="line">
                    <ul class="skill-set">
                        <li>ASP.NET Core</li>
                        <li>EF Core</li>
                        <li>ООP</li>
                        <li>SOLID</li>
                        <li>PostgreSQL</li>
                        <li>SQL</li>
                        <li>C#</li>
                        <li>C++</li>
                        <li>REST</li>
                        <li>RPC</li>
                        <li>Git</li>
                        <li>Git-flow</li>
                        <li>Docker</li>
                        <li>Yml</li>
                        <li>WPF</li>
                        <li>Bootstrap+HTML5+CSS4</li>
                    </ul>
                </div>
                <div style="margin-top: 4%">
                    <h1>Projects</h1>
                    <hr class="line">
                    <p>

                        <em><a class="container-2" href="https://github.com/zemlianin/HSE-Feedback-Platform">Forum of reviews for subjects</a></em>
                        &nbsp | &nbsp
                        Microservices, ASP.NET Core, PosgreSQL, REST, SOLID, docker-compose
                        <br />
                        <em><a class="container-2" href=" https://github.com/zemlianin/Web-Soft-Manager">Web-Platform for auto-manage soft</a></em>
                        &nbsp | &nbsp
                        Microservices, ASP.NET Core, EF Core, PosgreSQL, React, REST, SOLID, docker-compose
                        <br />

                        <em><a class="container-2" href="https://github.com/zemlianin/Ordering-transport">Ordering-construction-transport</a></em>
                        &nbsp | &nbsp
                        Microservices, ASP.NET Core, EF Core, PosgreSQL, React, REST, SOLID, docker-compose
                        <br />

                        <em><a class="container-2" href="https://github.com/zemlianin/API-Email-Modeling">Modeling of email operation</a></em>
                        &nbsp | &nbsp
                        ASP.NET Core, REST, SOLID, docker
                        <br />




                    </p>
                </div>
                
                <div style="margin-top: 4%">
                    <h1>About me</h1>
                    <hr class="line">
                    <p>
                        I am sociable and hardworking, I like to perform extraordinary tasks. At school,
                        I participated in math's olympiads and received many diplomas. Among them are: "PHYSTECH",
                        many regional stages of the VSOSh and one international IAO. At the same time, I have a lot of hobbies,
                        for instance, I play guitar and am fond of astronomy. I am currently trying my hand at developing
                        many projects as for hackathons as just for getting new skills.
                    </p>
                </div>
            </div>
        </div>

    </div>



</div>
